@each $key, $val in $colors {

    // Text Colors
    .text-#{$key} {
        color: #{$val};
    }
    // Text Colors :hover
    .text-hover-#{$key} {
        &:hover {
            color: $val;
        }
    }

    // Background Colors
    .bg-#{$key} {
        background-color: #{$val};
    }

    // Light Variations
    @for $i from 1 through 9 {
        .text-#{$key}-light-#{$i} {
            color: mix(white, $val, $i * 10);
        }
        // :hover
        .text-hover-#{$key}-light-#{$i} {
            &:hover {
                color: mix(white, $val, $i * 10);
            }
        }

        .bg-#{$key}-light-#{$i} {
            background-color: mix(white, $val, $i * 10);
        }
    }

    // Dark Variations
    @for $i from 1 through 9 {
        .text-#{$key}-dark-#{$i} {
            color: mix(black, $val, $i * 10);
        }
        // :hover
        .text-hover-#{$key}-dark-#{$i} {
            &:hover {
                color: mix(black, $val, $i * 10);
            }
        }
        
        .bg-#{$key}-dark-#{$i} {
            background-color: mix(black, $val, $i * 10);
        }
    }
}

