// Cards
.card {
    display: block;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;

    .title {
        font-size: $font-size-xl;
        font-weight: bold;
    }

    .body {
        font-size: $base-font-size;

        a {
            text-decoration: underline;
        }
    }
}

// Buttons
.btn {
    @include btn;
}

@each $key, $val in $colors {
    .btn-#{$key} {
        @include btn($val);
        &:hover {
            background-color: lighten($val, 10)
        }
    }

    .btn-outlined-#{$key} {
        @include btn(#fff); 
        border: 1px solid $val;
        &:hover {
            background-color: $val;
        }
    }
}

// Navbar 
%flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar {
    @extend %flex;
    padding: $base-padding $base-padding * 2;
    box-shadow: $base-box-shadow;

    .title {
        font-size: $font-size-lg;
    }

    .container {
        @extend %flex;
    }
}